<% locals.setLayout('_layout/_default.ejs'); -%>
<% locals.block('title', 'breadcrumb') -%>
</head>
<body class="docs">
<div class="docs-component">
<div class="docs-component__container">


    <section class="docs-component__section">
        <h1 class="docs-component__title">breadcrumb</h1>

            <div class="docs-component__preview">
                <div class="breadcrumb">
                    <a href="javascript:void(0);" class="breadcrumb__item">Home</a>
                    <a href="javascript:void(0);" class="breadcrumb__item">Lorem.</a>
                    <a href="javascript:void(0);" class="breadcrumb__item">Cumque.</a>
                    <a href="javascript:void(0);" class="breadcrumb__item">Minus.</a>
                    <a href="javascript:void(0);" class="breadcrumb__item">Cumque.</a>
                </div>
            </div>

            <div class="docs-component__preview">
                <div class="breadcrumb">
                    <span class="breadcrumb__item">Home</span>
                    <span class="breadcrumb__item">Lorem.</span>
                    <span class="breadcrumb__item">Cumque.</span>
                    <span class="breadcrumb__item">Minus.</span>
                    <span class="breadcrumb__item">Cumque.</span>
                </div>
            </div>

            <div class="docs-component__code">
                <div class="language-markup"><script type="text/plain">
                    <div class="breadcrumb">
                        <a href="javascript:void(0);" class="breadcrumb__item">Home</a>
                        <a href="javascript:void(0);" class="breadcrumb__item">Lorem.</a>
                        <a href="javascript:void(0);" class="breadcrumb__item">Cumque.</a>
                        <a href="javascript:void(0);" class="breadcrumb__item">Minus.</a>
                        <a href="javascript:void(0);" class="breadcrumb__item">Cumque.</a>
                    </div>
                </script></div>

                <div class="language-markup"><script type="text/plain">
                    <div class="breadcrumb">
                        <span class="breadcrumb__item">Home</span>
                        <span class="breadcrumb__item">Lorem.</span>
                        <span class="breadcrumb__item">Cumque.</span>
                        <span class="breadcrumb__item">Minus.</span>
                        <span class="breadcrumb__item">Cumque.</span>
                    </div>
                </script></div>
            </div>
    </section>


</div>
</div>
<%- locals.include('_include/_footAssets.ejs') %>
</body>
</html>