<% locals.setLayout('_layout/_default.ejs'); -%>
<% locals.block('title', 'default') -%>
</head>
<body class="docs">
<div class="docs-component">
<div class="docs-component__container">


    <section class="docs-component__section">
        <h1 class="docs-component__title">component title</h1>

            <div class="docs-component__description">
                component description
                <code>.class</code>
                <code>.class</code>
            </div>

            <div class="docs-component__preview">
                component preview
            </div>

            <div class="docs-component__code">
                <div class="language-markup"><script type="text/plain">
                    component code
                </script></div>
            </div>
    </section>




    <section class="docs-component__section">
        <h1 class="docs-component__title">component title</h1>


        <h2 class="docs-component__title">component title secondary</h2>

            <div class="docs-component__description">
                component description
            </div>

            <div class="docs-component__preview">
                component preview
            </div>

            <div class="docs-component__code">
                <div class="language-markup"><script type="text/plain">
                    component code
                </script></div>
            </div>




        <h2 class="docs-component__title">component title secondary</h2>

            <div class="docs-component__description">
                component description
            </div>

            <div class="docs-component__preview">
                component preview
            </div>

            <div class="docs-component__code">
                <div class="language-markup"><script type="text/plain">
                    component code
                </script></div>
            </div>
    </section>


</div>
</div>
<%- locals.include('_include/_footAssets.ejs') %>
</body>
</html>