<% locals.setLayout('_layout/_default.ejs'); -%>
<% locals.block('title', 'input') -%>
</head>
<body class="docs">
<div class="docs-component">
<div class="docs-component__container">


    <section class="docs-component__section">
        <h1 class="docs-component__title">input</h1>

        <h2 class="docs-component__title">input-text</h2>

            <div class="docs-component__preview">
                <div class="input-text"><input type="text"></div>
                <div class="input-text is-readonly"><input type="text" value="readonly" readonly></div>
                <div class="input-text is-disabled"><input type="text" value="disabled" disabled></div>
            </div>

            <div class="docs-component__code language-markup"><script type="text/plain">
                <div class="input-text"><input type="text"></div>
                <div class="input-text is-readonly"><input type="text" value="readonly" readonly></div>
                <div class="input-text is-disabled"><input type="text" value="disabled" disabled></div>
            </script></div>




        <h2 class="docs-component__title">input-select</h2>

            <div class="docs-component__preview">
                <div class="input-select">
                    <select>
                        <option value="">select</option>
                        <option value="">select2</option>
                        <option value="">select333</option>
                    </select>
                </div>

                <div class="input-select is-disabled">
                    <select disabled>
                        <option value="">select</option>
                        <option value="">select2</option>
                        <option value="">select333</option>
                    </select>
                </div>
            </div>

            <div class="docs-component__code language-markup"><script type="text/plain">
                <div class="input-select">
                    <select>
                        <option value="">select</option>
                        <option value="">select2</option>
                        <option value="">select333</option>
                    </select>
                </div>

                <div class="input-select is-disabled">
                    <select disabled>
                        <option value="">select</option>
                        <option value="">select2</option>
                        <option value="">select333</option>
                    </select>
                </div>
            </script></div>




        <h2 class="docs-component__title">input-check</h2>

            <div class="docs-component__preview">
                <label class="input-check">
                    <input type="checkbox"><i aria-hidden="true"></i>
                    <span class="input-check__text">checkbox</span>
                </label>

                <label class="input-check">
                    <input type="checkbox" checked><i aria-hidden="true"></i>
                    <span class="input-check__text">checkbox</span>
                </label>

                <label class="input-check">
                    <input type="checkbox" disabled><i aria-hidden="true"></i>
                    <span class="input-check__text">disabled</span>
                </label>

                <label class="input-check">
                    <input type="checkbox" checked disabled><i aria-hidden="true"></i>
                    <span class="input-check__text">disabled</span>
                </label>
            </div>

            <div class="docs-component__preview">
                <label class="input-check">
                    <input type="checkbox"><i aria-hidden="true"></i>
                    <span class="input-check__text visuallyhidden">checkbox</span>
                </label>

                <label class="input-check">
                    <input type="checkbox" checked><i aria-hidden="true"></i>
                    <span class="input-check__text visuallyhidden">checkbox</span>
                </label>

                <label class="input-check">
                    <input type="checkbox" disabled><i aria-hidden="true"></i>
                    <span class="input-check__text visuallyhidden">disabled</span>
                </label>

                <label class="input-check">
                    <input type="checkbox" checked disabled><i aria-hidden="true"></i>
                    <span class="input-check__text visuallyhidden">disabled</span>
                </label>
            </div>

            <div class="docs-component__code language-markup"><script type="text/plain">
                 <label class="input-check">
                    <input type="checkbox"><i aria-hidden="true"></i>
                    <span class="input-check__text">checkbox</span>
                </label>

                <label class="input-check">
                    <input type="checkbox" checked><i aria-hidden="true"></i>
                    <span class="input-check__text">checkbox</span>
                </label>

                <label class="input-check">
                    <input type="checkbox" disabled><i aria-hidden="true"></i>
                    <span class="input-check__text">disabled</span>
                </label>

                <label class="input-check">
                    <input type="checkbox" checked disabled><i aria-hidden="true"></i>
                    <span class="input-check__text">disabled</span>
                </label>

                <label class="input-check">
                    <input type="checkbox"><i aria-hidden="true"></i>
                    <span class="input-check__text visuallyhidden">checkbox visuallyhidden</span>
                </label>
            </script></div>




        <h2 class="docs-component__title">input-radio</h2>

            <div class="docs-component__preview">
                <label class="input-radio">
                    <input type="radio" name="tmp-radio"><i aria-hidden="true"></i>
                    <span class="input-radio__text">radio</span>
                </label>

                <label class="input-radio">
                    <input type="radio" name="tmp-radio" checked><i aria-hidden="true"></i>
                    <span class="input-radio__text">radio</span>
                </label>

                <label class="input-radio">
                    <input type="radio" name="tmp-radio2" disabled><i aria-hidden="true"></i>
                    <span class="input-radio__text">disabled</span>
                </label>

                <label class="input-radio">
                    <input type="radio" name="tmp-radio2" checked disabled><i aria-hidden="true"></i>
                    <span class="input-radio__text">disabled</span>
                </label>
            </div>

            <div class="docs-component__preview">
                <label class="input-radio">
                    <input type="radio" name="tmp-radio"><i aria-hidden="true"></i>
                    <span class="input-radio__text visuallyhidden">radio</span>
                </label>

                <label class="input-radio">
                    <input type="radio" name="tmp-radio" checked><i aria-hidden="true"></i>
                    <span class="input-radio__text visuallyhidden">radio</span>
                </label>

                <label class="input-radio">
                    <input type="radio" name="tmp-radio2" disabled><i aria-hidden="true"></i>
                    <span class="input-radio__text visuallyhidden">disabled</span>
                </label>

                <label class="input-radio">
                    <input type="radio" name="tmp-radio2" checked disabled><i aria-hidden="true"></i>
                    <span class="input-radio__text visuallyhidden">disabled</span>
                </label>
            </div>

            <div class="docs-component__code language-markup"><script type="text/plain">
                <label class="input-radio">
                    <input type="radio" name="tmp-radio"><i aria-hidden="true"></i>
                    <span class="input-radio__text">radio</span>
                </label>

                <label class="input-radio">
                    <input type="radio" name="tmp-radio" checked><i aria-hidden="true"></i>
                    <span class="input-radio__text">radio</span>
                </label>

                <label class="input-radio">
                    <input type="radio" name="tmp-radio2" disabled><i aria-hidden="true"></i>
                    <span class="input-radio__text">disabled</span>
                </label>

                <label class="input-radio">
                    <input type="radio" name="tmp-radio2" checked disabled><i aria-hidden="true"></i>
                    <span class="input-radio__text">disabled</span>
                </label>

                <label class="input-radio">
                    <input type="radio" name="tmp-radio"><i aria-hidden="true"></i>
                    <span class="input-radio__text visuallyhidden">radio visuallyhidden</span>
                </label>
            </script></div>




        <h2 class="docs-component__title">input-checkgroup</h2>

            <div class="docs-component__preview">
                <div class="input-checkgroup">
                    <label class="input-check">
                        <input type="checkbox"><i aria-hidden="true"></i>
                        <span class="input-check__text">checkbox</span>
                    </label>

                    <label class="input-check">
                        <input type="checkbox"><i aria-hidden="true"></i>
                        <span class="input-check__text">checkbox</span>
                    </label>

                    <label class="input-check">
                        <input type="checkbox"><i aria-hidden="true"></i>
                        <span class="input-check__text">checkbox</span>
                    </label>
                </div>
            </div>

            <div class="docs-component__preview">
                <div class="input-checkgroup">
                    <label class="input-radio">
                        <input type="radio" name="tmp-radio3"><i aria-hidden="true"></i>
                        <span class="input-radio__text">radio</span>
                    </label>

                    <label class="input-radio">
                        <input type="radio" name="tmp-radio3"><i aria-hidden="true"></i>
                        <span class="input-radio__text">radio</span>
                    </label>

                    <label class="input-radio">
                        <input type="radio" name="tmp-radio3"><i aria-hidden="true"></i>
                        <span class="input-radio__text">radio</span>
                    </label>
                </div>
            </div>

            <div class="docs-component__code language-markup"><script type="text/plain">
                 <div class="input-checkgroup">
                    input-check, input-radio...
                 </div>
            </script></div>
    </section>






    <section class="docs-component__section">
        <h1 class="docs-component__title">form</h1>

            <h2 class="docs-component__title">fielditem</h2>

            <div class="docs-component__preview">
                <div class="formfield">
                    <div class="fielditem col-6">
                        <div class="input-text"><input type="text"></div>
                    </div>

                    <div class="fielditem col-6">
                        <div class="input-text"><input type="text"></div>
                    </div>
                </div>

                <div class="formfield">
                    <div class="fielditem col-5">
                        <div class="input-text"><input type="text"></div>
                    </div>

                    <div class="fielditem addon-hyphen"><i>-</i></div>

                    <div class="fielditem col-5">
                        <div class="input-text"><input type="text"></div>
                    </div>
                </div>

                <div class="formfield">
                    <div class="fielditem col-5">
                        <div class="input-text"><input type="text"></div>
                    </div>

                    <div class="fielditem addon-wave"><i>~</i></div>

                    <div class="fielditem col-5">
                        <div class="input-text"><input type="text"></div>
                    </div>
                </div>

                <div class="formfield">
                    <div class="fielditem col-5">
                        <div class="input-text"><input type="text"></div>
                    </div>

                    <div class="fielditem addon-at"><i>@</i></div>

                    <div class="fielditem col-5">
                        <div class="input-select">
                            <select>
                                <option value="">select</option>
                                <option value="">select2</option>
                                <option value="">select333</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="formfield">
                    <div class="fielditem col-5">
                        <div class="input-text"><input type="text"></div>
                    </div>

                    <div class="fielditem col-5">
                        <div class="input-text"><input type="text"></div>
                    </div>

                    <div class="fielditem addon">
                        <label class="input-check">
                            <input type="checkbox"><i aria-hidden="true"></i>
                            <span class="input-check__text">checkbox</span>
                        </label>
                    </div>
                </div>

                <div class="formfield">
                    <div class="fielditem addon-btn">
                        <button type="button" class="btn"><span class="btn-text">button</span></button>
                    </div>

                    <div class="fielditem col-5">
                        <div class="input-text"><input type="text"></div>
                    </div>

                    <div class="fielditem col-5">
                        <div class="input-text"><input type="text"></div>
                    </div>

                    <div class="fielditem addon-btn">
                        <button type="button" class="btn"><span class="btn-text">button</span></button>
                    </div>
                </div>
            </div>

            <div class="docs-component__code language-markup"><script type="text/plain">
                <div class="formfield">
                    <div class="fielditem">...</div>
                    <div class="fielditem">...</div>
                </div>

                <div class="formfield">
                    <div class="fielditem">...</div>
                    <div class="fielditem">...</div>
                    <div class="fielditem">...</div>
                </div>
            </script></div>
    </section>


</div>
</div>
<%- locals.include('_include/_footAssets.ejs') %>
</body>
</html>