<% locals.setLayout('_layout/_default.ejs'); -%>
<% locals.block('title', 'pagination') -%>
</head>
<body class="docs">
<div class="docs-component">
<div class="docs-component__container">


    <section class="docs-component__section">
        <h1 class="docs-component__title">pagination</h1>

            <div class="docs-component__preview">
                <div class="pagination">
                    <ul>
                        <li class="pagination__item pagination__item-first"><a href="javascript:void(0);"><span>first</span></a></li>
                        <li class="pagination__item pagination__item-prev"><a href="javascript:void(0);"><span>prev</span></a></li>
                        <li class="pagination__item"><a href="javascript:void(0);"><span>1</span></a></li>
                        <li class="pagination__item"><a href="javascript:void(0);"><span>2</span></a></li>
                        <li class="pagination__item"><a href="javascript:void(0);"><span>3</span></a></li>
                        <li class="pagination__item"><a href="javascript:void(0);"><span>4</span></a></li>
                        <li class="pagination__item is-active"><a href="javascript:void(0);"><span>5</span></a></li>
                        <li class="pagination__item"><a href="javascript:void(0);"><span>6</span></a></li>
                        <li class="pagination__item"><a href="javascript:void(0);"><span>7</span></a></li>
                        <li class="pagination__item"><a href="javascript:void(0);"><span>8</span></a></li>
                        <li class="pagination__item"><a href="javascript:void(0);"><span>9</span></a></li>
                        <li class="pagination__item"><a href="javascript:void(0);"><span>10</span></a></li>
                        <li class="pagination__item pagination__item-next"><a href="javascript:void(0);"><span>next</span></a></li>
                        <li class="pagination__item pagination__item-last"><a href="javascript:void(0);"><span>last</span></a></li>
                    </ul>
                </div>
            </div>

            <div class="docs-component__code language-markup"><script type="text/plain">
                 <div class="pagination">
                    <ul>
                        <li class="pagination__item pagination__item-first"><a href="javascript:void(0);"><span>first</span></a></li>
                        <li class="pagination__item pagination__item-prev"><a href="javascript:void(0);"><span>prev</span></a></li>
                        <li class="pagination__item"><a href="javascript:void(0);"><span>1</span></a></li>
                        <li class="pagination__item"><a href="javascript:void(0);"><span>2</span></a></li>
                        <li class="pagination__item"><a href="javascript:void(0);"><span>3</span></a></li>
                        <li class="pagination__item"><a href="javascript:void(0);"><span>4</span></a></li>
                        <li class="pagination__item is-active"><a href="javascript:void(0);"><span>5</span></a></li>
                        <li class="pagination__item"><a href="javascript:void(0);"><span>6</span></a></li>
                        <li class="pagination__item"><a href="javascript:void(0);"><span>7</span></a></li>
                        <li class="pagination__item"><a href="javascript:void(0);"><span>8</span></a></li>
                        <li class="pagination__item"><a href="javascript:void(0);"><span>9</span></a></li>
                        <li class="pagination__item"><a href="javascript:void(0);"><span>10</span></a></li>
                        <li class="pagination__item pagination__item-next"><a href="javascript:void(0);"><span>next</span></a></li>
                        <li class="pagination__item pagination__item-last"><a href="javascript:void(0);"><span>last</span></a></li>
                    </ul>
                </div>
            </script></div>
    </section>



</div>
</div>


<%- locals.include('_include/_footAssets.ejs') %>
</body>
</html>