<% locals.setLayout('_layout/_default.ejs'); -%>
<% locals.block('title', 'table') -%>
</head>
<body class="docs">
<div class="docs-component">
<div class="docs-component__container">


    <section class="docs-component__section">
        <h1 class="docs-component__title">table</h1>

        <h2 class="docs-component__title">table tags</h2>

            <div class="docs-component__preview">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">th</th>
                                <th scope="col">th</th>
                                <th scope="col">th</th>
                                <th scope="col">th</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                            </tr>
                            <tr>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                            </tr>
                            <tr>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="docs-component__preview">
                <div class="table">
                    <table>
                        <tbody>
                            <tr>
                                <th scope="row">th</th>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                            </tr>
                            <tr>
                                <th scope="row">th</th>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                            </tr>
                            <tr>
                                <th scope="row">th</th>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="docs-component__code language-markup"><script type="text/plain">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                th...
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                td...
                            </tr>
                        </tbody>
                    </table>
                </div>
            </script></div>




        <h2 class="docs-component__title">table bordered</h2>

            <div class="docs-component__preview">
                <div class="table table-bordered">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">th</th>
                                <th scope="col">th</th>
                                <th scope="col">th</th>
                                <th scope="col">th</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                            </tr>
                            <tr>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                            </tr>
                            <tr>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="docs-component__preview">
                <div class="table table-bordered">
                    <table>
                        <tbody>
                            <tr>
                                <th scope="row">th</th>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                            </tr>
                            <tr>
                                <th scope="row">th</th>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                            </tr>
                            <tr>
                                <th scope="row">th</th>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="docs-component__code language-markup"><script type="text/plain">
                 <div class="table table-bordered">
                     table...
                 </div>
            </script></div>




        <h2 class="docs-component__title">table centered</h2>

            <div class="docs-component__preview">
                <div class="table table-centered">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">th</th>
                                <th scope="col">th</th>
                                <th scope="col">th</th>
                                <th scope="col">th</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                            </tr>
                            <tr>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                            </tr>
                            <tr>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="docs-component__preview">
                <div class="table table-centered">
                    <table>
                        <tbody>
                            <tr>
                                <th scope="row">th</th>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                            </tr>
                            <tr>
                                <th scope="row">th</th>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                            </tr>
                            <tr>
                                <th scope="row">th</th>
                                <td>td</td>
                                <td>td</td>
                                <td>td</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="docs-component__code language-markup"><script type="text/plain">
                 <div class="table table-centered">
                     table...
                 </div>
            </script></div>
    </section>



</div>
</div>


<%- locals.include('_include/_footAssets.ejs') %>
</body>
</html>