@charset "utf-8";

/* ==========================================================================
   font-face
   ========================================================================== */
/*
@font-face {
    font-family: NanumGothic;
    font-style: normal;
    font-weight: 400;
    src: url('../font/NanumGothic.eot);
    src: local('NanumGothic'), local('나눔고딕'),
    url('../font/NanumGothic.eot?#iefix') format('embedded-opentype'),
    url('../font/NanumGothic.woff') format('woff');
}
@font-face {
    font-family: NanumGothic;
    font-style: normal;
    font-weight: 700;
    src: url('../font/NanumGothicBold.eot');
    src: local('NanumGothicBold'), local('나눔고딕볼드'),
    url('../font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
    url('../font/NanumGothicBold.woff') format('woff');
}
*/



/* ==========================================================================
   base
   ========================================================================== */
*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

html {

}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
}

html, body {
    height:  100%;
}

html,
button,
input,
select,
textarea {
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin : 0;
}

a {
    text-decoration: none;
}

a:visited {
}

a:hover {
}

a:active {
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

legend,
caption {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
}

input,
textarea {
    /* outline: none; */
}

textarea {
    resize: vertical;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

i, em {
    font-style: normal;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}



/* ==========================================================================
   helper
   ========================================================================== */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
    clear: both;
}

/* floats */
.pull-left { float: left !important; }
.pull-right { float: right !important; }

/* Typo & Color */
.font-small { font-size: 12px !important; }
.font-medium { font-size: 14px !important; }
.font-large { font-size: 16px !important; }
.font-bold { font-weight: bold !important; }
.font-light { font-weight: normal !important; }

.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }
.text-justify { text-align: justify !important; }
.text-nowrap { white-space: nowrap !important; }
.underline { text-decoration: underline !important; }

.link { color: #115bab !important; }
.color-dark { color: #666 !important; }
.color-green { color: #70953f !important; }
.color-gray { color: #999 !important; }
.color-orange { color: #ff5a00 !important; }
.color-red { color: #e93e44 !important; }




/* ==========================================================================
   print style
   ========================================================================== */
@media print {}




/* ==========================================================================
   media query for responsive design
   ========================================================================== */
/* tablets and desktop */
@media only screen and (min-width: 768px) {}

/* phones */
@media only screen and (max-width: 767px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 320px) {}