@charset "utf-8";

/* ==========================================================================
   icon
   ========================================================================== */
.iconset { display: inline-block; overflow: hidden; position: relative; min-width: 0; max-width: none; width: auto; min-height: 0; max-height: none; height: auto; font-size: 0; line-height: 0; background-repeat: no-repeat; background-attachment: scroll; background-position: 0 0; background-size: 100% 100%; vertical-align: middle; }
    .icon-sample { width: 18px; height: 18px; background: #999; border-radius: 50%; }
    .icon-heart { width: 16px; height: 16px; background-image: url('../img/icon/heart.png'); }
    .icon-close { width: 16px; height: 16px; background-image: url('../img/icon/close.png'); }
    .icon-checked { width: 16px; height: 16px; background-image: url('../img/icon/checked.png'); }
    .icon-chevron-left { width: 16px; height: 16px; background-image: url('../img/icon/chevron-left.png'); }
    .icon-chevron-right { width: 16px; height: 16px; background-image: url('../img/icon/chevron-right.png'); }



/* ==========================================================================
   button
   ========================================================================== */
.btn { display: inline-block; overflow: visible; position: relative; min-width: 0; max-width: none; width: auto; min-height: 0; max-height: none; height: auto; line-height: normal; margin: 0; padding: 0; border: 0; border-radius: 0; background: none; color: #333; font: inherit; font-size: 14px; font-weight: normal; text-align: center; text-decoration: none; white-space: nowrap; vertical-align: middle; cursor: pointer; box-sizing: border-box; }
    .btn .btn-text { display: inline-block; color: inherit; font: inherit; }
    .btn.is-disabled,
    .btn[disabled] { opacity: 0.4; cursor: not-allowed; }

    /* type */
    .btn { height: 30px; line-height: 28px; padding: 0 10px; border: 1px solid #ddd; border-radius: 0; background-color: #f8f8f8; color: #333; font-size: 14px; }
    .btn-default { height: 30px; line-height: 28px; padding: 0 10px; border: 1px solid #ddd; border-radius: 0; background-color: #f8f8f8; color: #333; font-size: 14px; }
    .btn-primary { height: 30px; line-height: 28px; padding: 0 10px; border: 1px solid transparent; border-radius: 0; background-color: #96ceb4; color: #fff; font-size: 14px; }
    .btn-secondary { height: 30px; line-height: 28px; padding: 0 10px; border: 1px solid #999; border-radius: 0; background-color: #fff; color: #333; font-size: 14px; }

    /* color */
    .btn-gray { border-color: transparent; background-color: #b2b2b2; color: #fff; }
    .btn-dark { border-color: transparent; background-color: #3e4444; color: #fff; }
    .btn-green { border-color: transparent; background-color: #96ceb4; color: #fff; }
    .btn-red { border-color: transparent; background-color: #c94c4c; color: #fff; }
    .btn-blue { border-color: transparent; background-color: #034f84; color: #fff; }
    .btn-white { border-color: #ddd; background-color: #fff; color: #333; }

    /* size */
    .btn-xsmall { height: 20px; line-height: 18px; padding: 0 5px; font-size: 12px; }
    .btn-small { height: 24px; line-height: 22px; padding: 0 10px; font-size: 14px; }
    .btn-normal { height: 30px; line-height: 28px; padding: 0 10px; font-size: 14px; }
    .btn-large { height: 36px; line-height: 34px; padding: 0 10px; font-size: 14px; }
    .btn-xlarge { height: 40px; line-height: 38px; padding: 0 15px; font-size: 16px; }
    .btn-block { display: block; width: 100%; }

    /* round */
    .btn-round { border-radius: 30px; }
    .btn-round.btn-xsmall { border-radius: 20px; }
    .btn-round.btn-small { border-radius: 24px; }
    .btn-round.btn-normal { border-radius: 30px; }
    .btn-round.btn-large { border-radius: 36px; }
    .btn-round.btn-Xlarge { border-radius: 40px; }

    /* icon + text */
    .btn .iconset { margin-right: 5px; }
    .btn .btn-text + .iconset { margin-left: 5px; margin-right: 0; }

    /* only icon */
    .btnicon { /* min-width: 0; width: auto; height: auto; line-height: normal; */ /* padding: 4px; border: 0; border-radius: 0; background: none; */ }
    .btnicon .iconset { margin: 0; }
    .btnicon .btn-text { overflow: hidden; position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; border: 0; clip: rect(0 0 0 0); -webkit-clip-path: inset(50%); clip-path: inset(50%); }



/* ==========================================================================
   input
   ========================================================================== */

/* input-text
----------------------------------- */
.input-text { display: inline-block; overflow: visible; position: relative; width: auto; height: 34px; min-width: 0; max-width: none; min-height: 0; max-height: none; line-height: normal; margin: 0; padding: 0; border: 0; color: #666; -webkit-text-fill-color: #666; font-size: 15px; letter-spacing: 0; text-align: left; vertical-align: middle; box-sizing: border-box; }
    .input-text input,
    .input-text input[disabled],
    .input-text input[readonly],
    .input-text input[required] { display: inline-block; width: 100%; height: 100%; margin: 0; padding: 5px 10px; border: 1px solid #ddd; border-radius: 0; background: none; color: inherit; -webkit-text-fill-color: inherit; font: inherit; letter-spacing: inherit; text-shadow: none; vertical-align: top; box-sizing: border-box; opacity: 1; -webkit-appearance: none; resize: none; }
    .input-text input::-webkit-input-placeholder,
    .input-text input[disabled]::-webkit-input-placeholder,
    .input-text input[readonly]::-webkit-input-placeholder,
    .input-text input[required]::-webkit-input-placeholder { color: #999; -webkit-text-fill-color: #999; }
    .input-text input[disabled] { cursor: not-allowed; }
    .input-text input[readonly] { cursor: text; }
    .input-text input[required] {  }
    .input-text.is-disabled {  }
    .input-text.is-disabled input { background: #eee; color: #999; -webkit-text-fill-color: #999; }
    .input-text.is-readonly {  }
    .input-text.is-readonly input {  }
    .input-text.is-required {  }
    .input-text.is-required input {  }


/* input-textarea
----------------------------------- */
.input-textarea { display: inline-block; overflow: visible; position: relative; width: 100%; height: 60px; min-width: 0; max-width: none; min-height: 0; max-height: none; line-height: inherit; margin: 0; padding: 0; border: 0; color: #666; -webkit-text-fill-color: #666; font-size: 15px; letter-spacing: 0; text-align: left; vertical-align: middle; box-sizing: border-box; }
    .input-textarea textarea,
    .input-textarea textarea[disabled],
    .input-textarea textarea[readonly],
    .input-textarea textarea[required] { display: inline-block; width: 100%; height: 100%; margin: 0; padding: 5px 10px; border: 1px solid #ddd; border-radius: 0; background: none; color: inherit; -webkit-text-fill-color: inherit; font: inherit; letter-spacing: inherit; text-shadow: none; vertical-align: top; box-sizing: border-box; opacity: 1; -webkit-appearance: none; resize: none; }
    .input-textarea textarea::-webkit-input-placeholder,
    .input-textarea textarea[disabled]::-webkit-input-placeholder,
    .input-textarea textarea[readonly]::-webkit-input-placeholder,
    .input-textarea textarea[required]::-webkit-input-placeholder { color: #999; -webkit-text-fill-color: #999; }
    .input-textarea textarea[disabled] { cursor: not-allowed; }
    .input-textarea textarea[readonly] { cursor: text; }
    .input-textarea textarea[required] {  }
    .input-textarea.is-disabled {  }
    .input-textarea.is-disabled textarea { border: 1px solid #ddd; background: #eee; color: #ddd; -webkit-text-fill-color: #ddd; text-shadow: 1px 1px #fff; }
    .input-textarea.is-readonly {  }
    .input-textarea.is-readonly textarea {  }
    .input-textarea.is-required {  }
    .input-textarea.is-required textarea {  }


/* input-select
----------------------------------- */
.input-select { display: inline-block; position: relative; min-width: 0; max-width: none; width: auto; height: 34px; margin: 0; padding: 0; background: #fff; font-size: 15px; color: #666; vertical-align: middle; }
    .input-select select { position: relative; width: 100%; height: 100%; margin: 0; padding: 0 20px 0 10px; border: 1px solid #ddd; background: none; font: inherit; color: inherit; white-space: nowrap; -webkit-appearance: none; }
    .input-select:after { content: ''; position: absolute; top: 50%; right: 6px; margin-top: -2px; border: solid transparent; border-top-color: #000; border-width: 4px; pointer-events: none; }
    .input-select select[disabled] { cursor: not-allowed; }
    .input-select.is-disabled select { background: #eee; color: #999; -webkit-text-fill-color: #999; }
    .input-select.is-disabled:after { opacity: 0.3; }


/* input-check
----------------------------------- */
.input-check { display: inline-table; position: relative; min-width: 16px; min-height: 16px; vertical-align: middle; }
    .input-check > input[type="checkbox"] { visibility: hidden; position: absolute; top: 0; left: 0; opacity: 0; }
    .input-check > input[type="checkbox"] + i { display: inline-block; position: absolute; top: 0; left: 0; width: 16px; height: 16px; background: #ddd; vertical-align: top; }
    .input-check > input[type="checkbox"] + i:after { content: ''; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: #000; opacity: 0; }
    .input-check > input[type="checkbox"] + i + .input-check__text { display: table-cell; padding-left: 20px; line-height: 16px; vertical-align: top; }
    .input-check > input[type="checkbox"]:checked + i {  }
    .input-check > input[type="checkbox"]:checked + i:after { opacity: 1; }
    .input-check > input[type="checkbox"]:checked + i + .input-check__text {  }
    .input-check > input[type="checkbox"][disabled] + i { opacity: 0.5; }
    .input-check > input[type="checkbox"][disabled] + i:after {  }
    .input-check > input[type="checkbox"][disabled] + i + .input-check__text { opacity: 0.3; }



/* input-radio
----------------------------------- */
.input-radio { display: inline-table; position: relative; min-width: 16px; min-height: 16px; vertical-align: middle; }
    .input-radio > input[type="radio"] { visibility: hidden; position: absolute; top: 0; left: 0; opacity: 0; }
    .input-radio > input[type="radio"] + i { display: inline-block; position: absolute; top: 0; left: 0; width: 16px; height: 16px; border-radius: 50%; background: #ddd; vertical-align: top; }
    .input-radio > input[type="radio"] + i:after { content: ''; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; border-radius: 50%; background: #000; opacity: 0; }
    .input-radio > input[type="radio"] + i + .input-radio__text { display: table-cell; padding-left: 20px; line-height: 16px; vertical-align: top; }
    .input-radio > input[type="radio"]:checked + i {  }
    .input-radio > input[type="radio"]:checked + i:after { opacity: 1; }
    .input-radio > input[type="radio"]:checked + i + .input-radio__text {  }
    .input-radio > input[type="radio"][disabled] + i { opacity: 0.5; }
    .input-radio > input[type="radio"][disabled] + i:after {  }
    .input-radio > input[type="radio"][disabled] + i + .input-radio__text { opacity: 0.3; }


/* input-checkgroup
----------------------------------- */
.input-checkgroup { display: block; margin: -5px; }
    .input-checkgroup .input-check,
    .input-checkgroup .input-radio { margin: 5px; }




/* ==========================================================================
   form
   ========================================================================== */
.col-00 { width: 0%; }
.col-0 { width: 1%; }
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }
.col-block { width: 100%; }

/* fielditem */
.fielditem { display: table-cell; padding: 0 3px; }
    .fielditem > .input-select,
    .fielditem > .input-text { width: 100%; }

/* addon */
.addon { width: 1%; text-align: center; white-space: nowrap; }
    .addon-btn { width: 1%; white-space: nowrap; }
    .addon-btn .btn { width: 100%; }
    .addon-hyphen { width: 1%; padding: 0; text-align: center; white-space: nowrap; }
    .addon-hyphen > i { display: block; width: 12px; margin: 0 auto; font-size: 12px; }
    .addon-wave { width: 1%; padding: 0; text-align: center; white-space: nowrap; }
    .addon-wave > i { display: block; width: 12px; margin: 0 auto; font-size: 12px; }
    .addon-at { width: 1%; padding: 0; text-align: center; white-space: nowrap; }
    .addon-at > i { display: block; width: 12px; margin: 0 auto; font-size: 12px; }

/* formfield */
.formfield { display: table; width: -webkit-calc(100% + 6px); width: calc(100% + 6px); margin: 0 -3px; vertical-align: middle; }
    .formfield + .formfield {  }
    .formfield + .formfield > .fielditem { padding-top: 5px; }

/* form */
.form {  }





/* ==========================================================================
   list
   ========================================================================== */
.list {}
    .list ul { list-style: none; margin: 0; padding: 0; }
    .list__item { position: relative; padding-left: 10px; line-height: 20px; vertical-align: middle; }
    .list__item:before { content: ''; display: inline-block; overflow: hidden; position: absolute; top: 8px; left: 0; width: 4px; height: 4px; background: #000; }
    .list__item__num { display: table-cell; padding-right: 4px; font-weight: bold; white-space: nowrap; vertical-align: top; }
    .list__item__head { display: table-cell; padding-right: 4px; font-weight: bold; white-space: nowrap; vertical-align: top; }
    .list__item__body { display: table-cell; vertical-align: middle; }

    /* type */
    /* none */
    .list-none {}
        .list-none .list__item { padding-left: 0; }
        .list-none .list__item:before { display: none; }

    /* numberic */
    .list-numberic {}
        .list-numberic .list__item { padding-left: 0; }
        .list-numberic .list__item:before { display: none; }





/* ==========================================================================
   tab
   ========================================================================== */

/* tablist
----------------------------------- */
.tablist { position: relative; border-bottom: 1px solid; }
    .tablist > ul { display: table; table-layout: fixed; width: 100%; margin-bottom: -1px; vertical-align: bottom; }
    .tablist__item { display: table-cell; position: relative; height: 40px; background: #fff; vertical-align: bottom; }
    .tablist__item > a { overflow: hidden; display: block; height: 100%; margin-right: -1px; padding: 5px 10px; border: 1px solid #ddd; border-bottom: 1px solid #000; color: #999; text-align: center; white-space: nowrap; text-overflow: ellipsis; }
    .tablist__item > a:before { content: ''; display: inline-block; width: 1px; height: 100%; margin-right: -1px; vertical-align: middle; }
    .tablist__item > a > span { display: inline-block; vertical-align: middle; }
    .tablist__item.is-active { z-index: 2; }
    .tablist__item.is-active > a { border: 1px solid #000; border-bottom: 1px solid #fff; color: #333; }

    /* type */
    /* inline */
    .tablist-inline {  }
        .tablist-inline > ul { display: inline-table; width: auto; }

    /* scroll */
    .tablist-scroll { overflow-y: hidden; overflow-x: auto; }
        .tablist-scroll > ul { display: inline-table; width: auto; }


/* tabcontent
----------------------------------- */
.tabcontent { position: relative; }
.tabpanel { overflow: hidden; visibility: hidden; position: absolute; top: 0; left: 0; width: 0; height: 0; padding: 20px 10px; opacity: 0; }
    .tabpanel.is-active { visibility: visible; position: relative; width: auto; height: auto; opacity: 1; }

    /* transition */
    .tabpanel {
        transition: opacity 0.3s ease, visibility 0s ease 0.3s;
    }
    .tabpanel.is-active {
        transition: opacity 0.3s ease;
    }






/* ==========================================================================
   table
   ========================================================================== */
.table { position: relative; border-top: 1px solid #000; border-bottom: 1px solid #000; }
    .table caption { overflow: hidden; position: absolute; width: 0; height: 0; margin: 0; padding: 0; border: 0; clip: rect(0 0 0 0); }
    .table > table { position: relative; width: 100%; border-spacing: 0; border-collapse: collapse; }
    .table > table > thead > tr > th,
    .table > table > tbody > tr > th,
    .table > table > thead > tr > td,
    .table > table > tbody > tr > td { padding: 5px 10px; height: 40px; line-height: 20px; font-size: 14px; text-align: left; vertical-align: middle; word-wrap: break-word; word-break: break-all; }
    .table > table > thead > tr > th { border-bottom: 1px solid #999; background: #f1f1f1; }
    .table > table > tbody > tr > th { border-top: 1px solid #ddd; background: #f8f8f8; }
    .table > table > tbody > tr > td { border-top: 1px solid #ddd; }
    .table > table > tbody > tr:first-child th { border-top: 0; }
    .table > table > tbody > tr:first-child td { border-top: 0; }

    /* type */
    /* bordered */
    .table-bordered {}
        .table-bordered > table > thead > tr > th + th,
        .table-bordered > table > tbody > tr > th + th { border-left: 1px solid #ddd; }
        .table-bordered > table > tbody > tr > th + td { border-left: 1px solid #999; }
        .table-bordered > table > thead > tr > td + td,
        .table-bordered > table > tbody > tr > td + td { border-left: 1px solid #ddd; }

    /* centered */
    .table-centered {}
        .table-centered > table > thead > tr > th,
        .table-centered > table > tbody > tr > th,
        .table-centered > table > thead > tr > td,
        .table-centered > table > tbody > tr > td { text-align: center; }




/* ==========================================================================
   pagination
   ========================================================================== */
.pagination { text-align: center; }
    .pagination ul { display: inline-block; list-style: none; margin: 0; padding: 0; }
    .pagination ul:after { content: ''; display: table; clear: both; }
    .pagination__item { float: left; }
    .pagination__item a { display: inline-block; margin: -1px 0 0 -1px; padding: 10px 15px; border: 1px solid #ddd; color: #333; }
    .pagination__item-first,
    .pagination__item-prev,
    .pagination__item-next,
    .pagination__item-last {  }
    .pagination__item a:hover { background-color: #f8f8f8; }
    .pagination__item.is-active a { background-color: #f8f8f8; color: #000; font-weight: bold; }




/* ==========================================================================
   breadcrumb
   ========================================================================== */
.breadcrumb {  }
    .breadcrumb__item { display: inline-block; margin-left: 5px; color: #333; vertical-align: middle; }
    .breadcrumb__item:before { content: '/'; display: inline-block; margin-right: 9px; vertical-align: middle; }
    .breadcrumb__item:first-child { margin-left: 0; }
    .breadcrumb__item:first-child:before { display: none; }
    .breadcrumb__item.is-active { font-weight: bold; }
    .breadcrumb__item.is-active:before { font-weight: normal; }




/* ==========================================================================
   modal
   ========================================================================== */
body.modal-open { overflow: hidden; }
.modal { z-index: 9000; position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
    .modal__overlay { z-index: 7000; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0.6; }
    .modal__window { z-index: 8000; overflow: auto; position: fixed; top: 0; left: 0; width: 100%; height: 100%; padding: 0 20px; text-align: center; white-space: nowrap; }
    .modal__window:before { content: ''; display: inline-block; width: 1px; height: 100%; margin-right: -1px; vertical-align: middle; }
    .modal__box { display: inline-block; position: relative; max-width: 100%; min-width: 320px; margin: 20px 0; background: #fff; box-shadow: 0 0 15px rgba(0,0,0,0.4); text-align: left; white-space: normal; vertical-align: middle; }
    .modal__header { position: relative; height: 60px; padding-right: 60px; background: #ddd; }
    .modal__title { display: block; padding: 0 20px; line-height: 60px; font-size: 20px; font-weight: normal; }
    .modal__close { position: absolute; top: 0; right: 0; width: 60px; height: 60px; border: 0; background: url('../img/icon/modal-close.png') no-repeat 50% 50%; font-size: 0; line-height: 0; cursor: pointer; }
    .modal__body { padding: 20px; }
    .modal__footer { padding: 20px; }

    /* active */
    .modal { visibility: hidden; }
    .modal .modal__overlay { opacity: 0; }
    .modal .modal__box { opacity: 0; }

    .modal.is-active { visibility: visible; }
    .modal.is-active .modal__overlay { opacity: 0.6; }
    .modal.is-active .modal__box { opacity: 1; }

        /* transition */
        .modal {
            transition: visibility 0s ease 0.3s;
        }
        .modal.is-active {
            transition: visibility 0s ease 0s;
        }

        .modal .modal__overlay,
        .modal.is-active .modal__overlay {
            transition: opacity 0.3s ease;
        }
        .modal .modal__box,
        .modal.is-active .modal__box {
            transition: opacity 0.3s ease;
        }

    /* size */
    .modal__box { width: 600px; }
    .modal-xsmall .modal__box {}
    .modal-small .modal__box { width: 320px; }
    .modal-medium .modal__box { width: 600px; }
    .modal-large .modal__box { width: 800px; }
    .modal-xlarge .modal__box {}


/* in component-preview
----------------------------------- */
.docs-component__preview .modal { visibility: visible; position: relative; }
.docs-component__preview .modal__overlay { display: none; }
.docs-component__preview .modal__window { position: relative; text-align: left; }
.docs-component__preview .modal__box { opacity: 1; }
