@charset "utf-8";

/* ==========================================================================
   component layout
   ========================================================================== */
.component-wrapper {  }
.component-container { padding: 20px 30px; }
.component-content {  }
.component-section { margin-top: 60px; }
.component-section:first-child { margin-top: 0; }

h1.component-title { margin: 0 0 20px 0; padding-bottom: 4px; border-bottom: 1px solid #eee; color: #333; font-size: 40px; font-weight: normal; letter-spacing: -1px; }
h1.component-title:after { content: ' component-title'; }
h2.component-title { display: block; margin: 50px 0 20px; font-size: 20px; line-height: 20px; font-weight: normal; letter-spacing: -1px; }
h2.component-title:before { content: ''; display: inline-block; width: 3px; height: 20px; margin-top: -3px; margin-right: 8px; background-color: #000; vertical-align: middle; }
h2.component-title:after { content: ' component-title secondary'; }
h1.component-title + h2.component-title { margin-top: 20px; }
h1.component-title:after,
h2.component-title:after { display: inline-block; line-height: normal; padding-left: 10px; color: #ccc; font-size: 11px; font-weight: normal; letter-spacing: 0; }

.component-description { position: relative; margin: 26px 0 20px 0; padding: 10px; line-height: 26px; border: 1px solid #eee; color: #5a5a5a; font-size: 13px; border-radius: 3px; }
.component-description:after { content: 'component-description'; }
.component-description code { display: inline-block; padding: 0 4px; line-height: 16px; border: 1px solid #e5e5e5; background-color: #f5f5f5; font-size: 12px; vertical-align: middle; border-radius: 3px; }
.component-description a { color: inherit; text-decoration: underline; }

.component-preview { margin: 20px 0; }
.component-preview p { margin: 10px 0 0 0; }
.component-preview p:first-child { margin-top: 0; }

.component-code { position: relative; margin: 26px 0 20px 0; border: 1px solid #eee; border-radius: 3px; }
.component-code:after { content: 'component-code'; }
.component-code :not(pre) > code[class*="language-"],
.component-code pre[class*="language-"] { margin: 0; padding: 0; background: none; font-size: 12px; }
.component-code code[class*="language-"],
.component-code pre[class*="language-"] { line-height: 18px; }
.component-code pre[class*="language-"] { max-height: 500px;  padding: 13px 13px 10px 13px; }

.component-description:after,
.component-code:after { display: inline-block; position: absolute; top: -7px; left: 10px; margin: 0; padding: 0 3px; background-color: #fff; color: #ccc; font-size: 11px; line-height: normal; font-weight: normal; }
