/**
 * docs frame
 */
html, body {
    height: 100%;
}
.docs-layout-frame {
    overflow: hidden;
}

.docs-frame {
    height: 100%;
}
.docs-frame__header {
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.docs-frame__logo {}
.docs-frame__logo a {
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
    color: #000;
    color: #000;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: -1px;
}

.docs-frame__aside {
    z-index: 800;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 150px;
    padding-top: 50px;
    border-right: 1px solid #ddd;
}
.docs-frame__menu {
 }
.docs-frame__menu > ul {
    padding: 0;
}
.docs-frame__menu__item {
 }
.docs-frame__menu__item > a {
    display: block;
    position: relative;
    padding: 10px;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
}
.docs-frame__menu__item > a:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: rgba(0,0,0,0);
}
.docs-frame__menu__item > a:hover,
.docs-frame__menu__item.is-active > a {
    color: rgba(0,0,0,1);
}
.docs-frame__menu__item > a:hover:before,
.docs-frame__menu__item.is-active > a:before {
    background: rgba(0,0,0,1);
}
.docs-frame__menu__item.is-disabled > a {
    opacity: 0.3;
    cursor: not-allowed;
}
.docs-frame__menu__item.is-disabled > a:before {
 }

.docs-frame__container {
    z-index: 700;
    position: relative;
    height: 100%;
    padding: 50px 0 0 150px;
    box-sizing: border-box;
}
.docs-frame__content {
    height: 100%;
    box-sizing: border-box;
}
.docs-frame__viewer {
    width: 100%;
    min-height: 100%;
    border: 0;
    box-sizing: border-box;
}


/**
 * docs component
 */
.docs-layout-component {
 }

.docs-component__wrapper {
 }
.docs-component__container {
    padding: 20px 30px;
}
.docs-component__content {
 }
.docs-component__section {
    margin-top: 60px;
}
.docs-component__section:first-child {
    margin-top: 0;
}

h1.docs-component__title {
    margin: 0 0 20px 0;
    padding-bottom: 4px;
    border-bottom: 1px solid #eee;
    color: #333;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: -1px;
}
h1.docs-component__title:after {
    content: ' component-title';
}
h2.docs-component__title {
    display: block;
    margin: 50px 0 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    letter-spacing: -1px;
}
h2.docs-component__title:before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 20px;
    margin-top: -3px;
    margin-right: 8px;
    background-color: #000;
    vertical-align: middle;
}
h2.docs-component__title:after {
    content: ' component-title secondary';
}
h1.docs-component__title + h2.docs-component__title {
    margin-top: 20px;
}
h1.docs-component__title:after,
h2.docs-component__title:after {
    display: inline-block;
    line-height: normal;
    padding-left: 10px;
    color: #ccc;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0;
}

.docs-component__description {
    position: relative;
    margin: 26px 0 20px 0;
    padding: 10px;
    line-height: 26px;
    border: 1px solid #eee;
    color: #5a5a5a;
    font-size: 13px;
    border-radius: 3px;
}
.docs-component__description:after {
    content: 'component-description';
}
.docs-component__description code {
    display: inline-block;
    padding: 0 4px;
    line-height: 16px;
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    font-size: 12px;
    vertical-align: middle;
    border-radius: 3px;
}
.docs-component__description a {
    color: inherit;
    text-decoration: underline;
}

.docs-component__preview {
    margin: 20px 0;
}
.docs-component__preview p {
    margin: 10px 0 0 0;
}
.docs-component__preview p:first-child {
    margin-top: 0;
}

.docs-component__code {
    position: relative;
    margin: 26px 0 20px 0;
    border: 1px solid #eee;
    border-radius: 3px;
}
.docs-component__code:after {
    content: 'component-code';
}
.docs-component__code :not(pre) > code[class*="language-"],
.docs-component__code pre[class*="language-"] {
    margin: 0;
    padding: 0;
    background: none;
    font-size: 12px;
}
.docs-component__code code[class*="language-"],
.docs-component__code pre[class*="language-"] {
    line-height: 18px;
}
.docs-component__code pre[class*="language-"] {
    max-height: 500px;
     padding: 13px 13px 10px 13px;
 }

.docs-component__description:after,
.docs-component__code:after {
    display: inline-block;
    position: absolute;
    top: -7px;
    left: 10px;
    margin: 0;
    padding: 0 3px;
    background-color: #fff;
    color: #ccc;
    font-size: 11px;
    line-height: normal;
    font-weight: normal;
}
