<!doctype html>
<!--[if lte IE 8]>     <html class="ie ie8 lt-ie8 lt-ie9" lang="ko"> <![endif]-->
<!--[if IE 9]>         <html class="ie ie9 lt-ie9" lang="ko"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="ko"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%- locals.blocks.title %></title>

    <meta name="description" content="...">
    <meta name="keyword" content="...">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../assets/css/style.css">

    <!--[if lte IE 8]>
    <script src="../assets/js/preRender.polyfill.js"></script>
    <![endif]-->
<%- locals.body %>